<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinRun.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinRun.UI.Properties.Settings>
            <setting name="ClockLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ClockTop" serializeAs="String">
                <value>200</value>
            </setting>
        </WinRun.UI.Properties.Settings>
    </userSettings>
</configuration>